#  SubQueries

# Basic Level

Q.1 Retrieve the names of employees who earn more than the average salary of all employees.

In [ ]:
import pandas as pd

# Create a sample DataFrame for employees
data = {
    'Employee_ID':, 101,102,103,104,104,105,106,107,108,109,110],
    'Employee_Name': ['abhishek,shubham,Priya ,rohit,Neha ,aman,ravi,sneha,kiran,tanuja'],
    'Salary': [62000,58000, 67000, 90000, 55000, 60000, 75000,70000,65000]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' on line 4 (ipython-input-2338053009.py, line 5)

In [ ]:
from numpy import memmap
# Calculate the average salary of all employees
average_salary = employees_df['Salary'].mean()

# Filter employees who earn more than the average salary
employees_above_average = employees_df[employees_df['Salary'] > average_salary]

# Retrieve their names
employee_names = employees_above_average['Employee_Name']

# *Question*.2 .Find the employees who belong to the department with the highest average salary.

# Task
Find the names of the employees who belong to the department with the highest average salary. Create a pandas DataFrame named `employees_df` with columns 'Employee_ID', 'Employee_Name', 'Salary', and 'Department' for this analysis.

## Create Employees DataFrame

### Subtask:
Create a pandas DataFrame named `employees_df` with columns for 'Employee_ID', 'Employee_Name', 'Salary', and 'Department', using the provided employee data. Ensure data is correctly structured and free of syntax errors.

**Reasoning**:
The previous code block contained a syntax error and incomplete data for the DataFrame. I need to generate a new code block that correctly defines the dictionary with all specified employee data (ID, Name, Salary, and Department) and then creates the `employees_df` DataFrame using this dictionary.

In [3]:
import pandas as pd

# Create a sample DataFrame for employees
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Employee_Name': ['Abhishek', 'Shubham', 'Priya', 'Rohit', 'Neha', 'Aman', 'Ravi', 'Sneha', 'Kiran', 'Tanuja'],
    'Salary': [62000, 58000, 67000, 90000, 55000, 60000, 75000, 70000, 65000, 80000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR', 'Finance', 'IT']
}
employees_df = pd.DataFrame(data)

print("DataFrame 'employees_df' created successfully:")
print(employees_df.head())

DataFrame 'employees_df' created successfully:
   Employee_ID Employee_Name  Salary Department
0          101      Abhishek   62000         HR
1          102       Shubham   58000         IT
2          103         Priya   67000    Finance
3          104         Rohit   90000         IT
4          105          Neha   55000         HR

## Calculate Average Salary Per Department

### Subtask:
Group the `employees_df` by 'Department' and calculate the average 'Salary' for each department.

**Reasoning**:
To calculate the average salary per department, I will group the `employees_df` by the 'Department' column and then compute the mean of the 'Salary' for each group.

In [ ]:
average_salary_by_department = employees_df.groupby('Department')['Salary'].mean()

Average salary by department:
Department
Finance    64000.000000
HR         62333.333333
IT         75750.000000
Name: Salary, dtype: float64

## Identify Department with Highest Average Salary

### Subtask:
Determine which department has the highest average salary from the previously calculated departmental averages.

**Reasoning**:
To find the department with the highest average salary, I will use the `.idxmax()` method on the `average_salary_by_department` Series, store the result, and then print it as instructed.

In [ ]:
highest_paying_department = average_salary_by_department.idxmax()
print(f"Department with the highest average salary: {highest_paying_department}")

Department with the highest average salary: IT

## Filter Employees by Department

### Subtask:
Filter the original `employees_df` to include only those employees who belong to the department identified as having the highest average salary.

**Reasoning**:
To achieve the subtask, I will filter the `employees_df` DataFrame using boolean indexing to select employees whose 'Department' matches the `highest_paying_department` and store the result in `employees_in_highest_paying_dept`, then print the head of this new DataFrame.

In [ ]:
employees_in_highest_paying_dept = employees_df[employees_df['Department'] == highest_paying_department]
print(f"Employees in the {highest_paying_department} department:")
print(employees_in_highest_paying_dept.head())

Employees in the IT department:
   Employee_ID Employee_Name  Salary Department
1          102       Shubham   58000         IT
3          104         Rohit   90000         IT
6          107          Ravi   75000         IT
9          110        Tanuja   80000         IT

 # 3. List all employees who have made at least one sale.

## Create Sales Data

To address the question of employees who have made at least one sale, we first need a dataset containing sales information. I will create a sample DataFrame named `sales_df` with columns for 'Sale_ID', 'Employee_ID', and 'Sale_Amount'.

In [ ]:
import pandas as pd

# Create a sample DataFrame for sales
sales_data = {
    'Sale_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110], # Some employees have multiple sales, some have none
    'Sale_Amount': [4500, 7800, 6700, 12000, 9800, 10500, 3200, 5100, 3900, 7000]
}
sales_df = pd.DataFrame(sales_data)

print("DataFrame 'sales_df' created successfully:")
print(sales_df.head())

## Identify Employees with Sales

Now that we have both `employees_df` and `sales_df`, I will identify all unique `Employee_ID`s from the `sales_df`. Then, I will filter the `employees_df` to include only those employees whose `Employee_ID` appears in the sales records, effectively listing all employees who have made at least one sale.

#  4.Find the employee with the highest sale amount.

## Identify the Employee with the Highest Sale Amount

I will first find the row in `sales_df` that contains the maximum `Sale_Amount`. Then, I will merge this result with the `employees_df` using `Employee_ID` to retrieve the name of the employee who made that highest sale.

In [ ]:
# Find the row with the maximum sale amount
highest_sale_row = sales_df.loc[sales_df['Sale_Amount'].idxmax()]

# Get the Employee_ID of the employee with the highest sale
employee_id_highest_sale = highest_sale_row['Employee_ID']

# Get the sale amount
highest_sale_amount = highest_sale_row['Sale_Amount']

# Merge with employees_df to get the employee's name
employee_with_highest_sale = employees_df[employees_df['Employee_ID'] == employee_id_highest_sale]

print(f"The employee with the highest sale amount is: {employee_with_highest_sale['Employee_Name'].iloc[0]} (Employee ID: {employee_id_highest_sale}) with a sale of ${highest_sale_amount}.")

# Get Shubham's salary
shubham_salary = employees_df[employees_df['Employee_Name'] == 'Shubham']['Salary'].iloc[0]

# Filter employees whose salaries are higher than Shubham's
employees_higher_salary = employees_df[employees_df['Salary'] > shubham_salary]

# Retrieve their names
higher_salary_employee_names = employees_higher_salary['Employee_Name']

print(f"\nEmployees whose salaries are higher than Shubham's ({shubham_salary}):")
print(higher_salary_employee_names.to_list())

#5. Retrieve the names of employees whose salaries are higher than Shubham’s salary.   

- shubham_salary = employees_df[employees_df['Employee_Name'] == 'Shubham']    
['Salary'].iloc[0]:

- First, employees_df['Employee_Name'] == 'Shubham'  
 creates a boolean Series, True for rows where the Employee_Name is 'Shubham' and False otherwise.
- employees_df[...] then uses this boolean Series to filter the employees_df, effectively selecting only the row(s) corresponding to 'Shubham'.
- ['Salary'] selects the 'Salary' column from these filtered rows.
- .iloc[0] retrieves the first (and likely only) salary value from the result. This value is stored in the shubham_salary variable.   

**2 . employees_higher_salary = employees_df[employees_df['Salary'] > shubham_salary]:**

- This line again uses boolean indexing. employees_df['Salary'] > shubham_salary generates a boolean Series indicating which employees have a 'Salary' greater than shubham_salary.
- This Series is used to filter the original employees_df, creating a new DataFrame called employees_higher_salary that contains all the information for employees whose salaries are greater than Shubham's.     


**3 .  higher_salary_employee_names = employees_higher_salary['Employee_Name']:**

- From the employees_higher_salary DataFrame (which now only contains employees earning more than Shubham), this line selects just the 'Employee_Name' column.
- The result is a pandas Series containing the names of these employees.    

**4 . print(f"\nEmployees whose salaries are higher than Shubham's ({shubham_salary}):") print(higher_salary_employee_names.to_list()):**

- These lines simply print a descriptive message, including Shubham's salary for context, and then display the list of employee names (converted to a Python list using .to_list()) who have higher salaries.

# Intermediate question

# 1. Find employees who work in the same department as Abhishek.

# Task
Identify Abhishek's department from the `employees_df` DataFrame, then filter the `employees_df` to include only employees in that department, and finally list the names of these employees.

## Identify Abhishek's Department

### Subtask:
Find the department 'Abhishek' belongs to from the 'employees_df' DataFrame.

**Reasoning**:
To identify Abhishek's department, I will filter the `employees_df` for rows where the 'Employee_Name' is 'Abhishek' and then extract the 'Department' column.

In [ ]:
abhishek_department = employees_df[employees_df['Employee_Name'] == 'Abhishek']['Department'].iloc[0]
print(f"Abhishek's department: {abhishek_department}")

Abhishek's department: HR

## Filter Employees in Abhishek's Department

### Subtask:
Filter the `employees_df` to include only those employees who belong to `abhishek_department`.

**Reasoning**:
To filter the `employees_df` for employees in Abhishek's department, I will use boolean indexing, selecting rows where the 'Department' column matches the `abhishek_department` variable. I will then print the names of these employees.

In [ ]:
employees_in_abhishek_dept = employees_df[employees_df['Department'] == abhishek_department]
print(f"Employees in {abhishek_department} department:\n{employees_in_abhishek_dept['Employee_Name'].to_list()}")

Employees in HR department:
['Abhishek', 'Neha', 'Sneha']

# 2.List departments that have at least one employee earning more than ₹60,000.

# Task
List departments that have at least one employee earning more than ₹60,000.

## Filter Employees by Salary

### Subtask:
Filter the 'employees_df' to identify all employees whose salary is greater than ₹60,000.

**Reasoning**:
To identify employees earning more than ₹60,000, I will filter the `employees_df` DataFrame by the 'Salary' column, selecting only those rows where the salary exceeds 60000. I will store the result in a new DataFrame called `high_earner_employees`.

In [ ]:
high_earner_employees = employees_df[employees_df['Salary'] > 60000]
print("Employees earning more than ₹60,000:")
print(high_earner_employees.head())

Employees earning more than ₹60,000:
   Employee_ID Employee_Name  Salary Department
0          101      Abhishek   62000         HR
2          103         Priya   67000    Finance
3          104         Rohit   90000         IT
6          107          Ravi   75000         IT
7          108         Sneha   70000         HR

**Reasoning**:
Now that I have identified the employees earning more than ₹60,000, I need to extract the unique department names from this filtered DataFrame to list the departments that meet the criteria.

In [ ]:
departments_with_high_earners = high_earner_employees['Department'].unique()
print("Departments with at least one employee earning more than ₹60,000:")
print(departments_with_high_earners)

Departments with at least one employee earning more than ₹60,000:
['HR' 'Finance' 'IT']

#3.Find the department name of the employee who made the highest sale.

# Task
Find the department name of the employee who made the highest sale.

## Identify Employee with Highest Sale

### Subtask:
Find the `Employee_ID` associated with the highest `Sale_Amount` in the `sales_df` DataFrame.

**Reasoning**:
I will find the index of the maximum 'Sale_Amount' in `sales_df`, then extract the corresponding row, and finally retrieve the 'Employee_ID' from that row.

In [ ]:
highest_sale_row = sales_df.loc[sales_df['Sale_Amount'].idxmax()]
employee_id_highest_sale = highest_sale_row['Employee_ID']
print(f"Employee ID with the highest sale: {employee_id_highest_sale}")

NameError: name 'sales_df' is not defined

**Reasoning**:
The previous code failed because `sales_df` was not defined. I need to include the creation of the `sales_df` DataFrame before attempting to use it to find the highest sale.

In [4]:
import pandas as pd

# Create a sample DataFrame for sales (re-defining to ensure it exists)
sales_data = {
    'Sale_ID': [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Sale_Amount': [4500, 7800, 6700, 12000, 9800, 10500, 3200, 5100, 3900, 7000]
}
sales_df = pd.DataFrame(sales_data)

# Find the row with the maximum sale amount
highest_sale_row = sales_df.loc[sales_df['Sale_Amount'].idxmax()]
employee_id_highest_sale = highest_sale_row['Employee_ID']
print(f"Employee ID with the highest sale: {employee_id_highest_sale}")

Employee ID with the highest sale: 104

**Reasoning**:
Now that the `Employee_ID` of the employee with the highest sale has been identified, I will use this ID to find the corresponding employee's department from the `employees_df` DataFrame.

In [ ]:
department_highest_sale = employees_df[employees_df['Employee_ID'] == employee_id_highest_sale]['Department'].iloc[0]
print(f"The department of the employee with the highest sale is: {department_highest_sale}")

The department of the employee with the highest sale is: IT

# 4.Retrieve employees who have made sales greater than the average sale amount.

# Task
Present the names of employees who have made sales greater than the average sale amount using the `sales_df` and `employees_df` DataFrames.

## Calculate Average Sale Amount

### Subtask:
Calculate the average 'Sale_Amount' from the 'sales_df' DataFrame.

**Reasoning**:
To calculate the average 'Sale_Amount', I will use the `.mean()` method on the 'Sale_Amount' column of the `sales_df` DataFrame.

In [ ]:
average_sale_amount = sales_df['Sale_Amount'].mean()
print(f"Average Sale Amount: {average_sale_amount}")

Average Sale Amount: 7050.0

## Filter Sales Above Average

### Subtask:
Filter the 'sales_df' to include only sales where the 'Sale_Amount' is greater than the calculated average sale amount.

**Reasoning**:
To filter the sales data, I will use boolean indexing on the 'Sale_Amount' column of `sales_df` against the `average_sale_amount` and store the result in `sales_above_average`, then print its head.

In [ ]:
sales_above_average = sales_df[sales_df['Sale_Amount'] > average_sale_amount]
print("Sales above average:")
print(sales_above_average.head())

Sales above average:
   Sale_ID  Employee_ID  Sale_Amount
1        2          102         7800
3        4          104        12000
4        5          105         9800
5        6          106        10500

**Reasoning**:
Now that the sales above average have been identified, I need to extract the unique Employee_IDs from `sales_above_average` and then merge this information with `employees_df` to retrieve the names of the employees who made these sales.

In [ ]:
employee_ids_above_average_sale = sales_above_average['Employee_ID'].unique()
employees_with_above_average_sales = employees_df[employees_df['Employee_ID'].isin(employee_ids_above_average_sale)]
print("Employees with sales greater than the average sale amount:")
print(employees_with_above_average_sales[['Employee_Name', 'Sale_Amount']])

Employees with sales greater than the average sale amount:

KeyError: "['Sale_Amount'] not in index"

**Reasoning**:
The previous code failed because `Sale_Amount` is not a column in `employees_with_above_average_sales`. To display both the employee name and the sale amount, I need to merge the `employees_with_above_average_sales` DataFrame with the `sales_above_average` DataFrame on `Employee_ID` to combine the employee details with their corresponding sale amounts.

In [ ]:
employee_ids_above_average_sale = sales_above_average['Employee_ID'].unique()
employees_with_above_average_sales_info = employees_df[employees_df['Employee_ID'].isin(employee_ids_above_average_sale)]

# Merge employees_with_above_average_sales_info with sales_above_average to get the Sale_Amount
merged_employees_sales = pd.merge(employees_with_above_average_sales_info, sales_above_average, on='Employee_ID', how='inner')

print("Employees with sales greater than the average sale amount:")
print(merged_employees_sales[['Employee_Name', 'Sale_Amount']])

Employees with sales greater than the average sale amount:
  Employee_Name  Sale_Amount
0       Shubham         7800
1         Rohit        12000
2          Neha         9800
3          Aman        10500

# 5.  Find the total sales made by employees who earn more than the average salary.

# Task
Calculate and present the total sales made by employees who earn more than the average salary.

## Calculate Overall Average Salary

### Subtask:
Calculate the average salary of all employees from the `employees_df` DataFrame.

**Reasoning**:
To calculate the overall average salary, I will use the `.mean()` method on the 'Salary' column of the `employees_df` DataFrame and store it in `overall_average_salary`, then print the result.

In [ ]:
overall_average_salary = employees_df['Salary'].mean()
print(f"Overall Average Salary: {overall_average_salary}")

Overall Average Salary: 68200.0

## Identify High-Earning Employees

### Subtask:
Filter the `employees_df` to find employees whose individual salaries are greater than the overall average salary.

**Reasoning**:
To identify employees with salaries greater than the overall average, I will filter the `employees_df` using a boolean condition based on the 'Salary' column and the `overall_average_salary`.

In [ ]:
high_salary_employees = employees_df[employees_df['Salary'] > overall_average_salary]
print("Employees with salaries greater than the overall average:")
print(high_salary_employees.head())

Employees with salaries greater than the overall average:
   Employee_ID Employee_Name  Salary Department
3          104         Rohit   90000         IT
6          107          Ravi   75000         IT
7          108         Sneha   70000         HR
9          110        Tanuja   80000         IT

## Extract Employee IDs of High Earners

### Subtask:
Get a list of `Employee_ID`s for the employees identified as high-earning.

**Reasoning**:
To get a list of unique Employee_IDs for high-earning employees, I will select the 'Employee_ID' column from the `high_salary_employees` DataFrame and apply the `.unique()` method.

In [ ]:
high_earner_employee_ids = high_salary_employees['Employee_ID'].unique()
print("Employee IDs of high earners:")
print(high_earner_employee_ids)

Employee IDs of high earners:
[104 107 108 110]

## Filter Sales by High-Earning Employees

### Subtask:
Filter the `sales_df` DataFrame to include only sales made by the employees identified as high-earning (i.e., those whose Employee_ID is in `high_earner_employee_ids`).

**Reasoning**:
To filter the sales data, I will use boolean indexing on the `sales_df` DataFrame, checking if the 'Employee_ID' is present in the `high_earner_employee_ids` list.

In [ ]:
sales_by_high_earners = sales_df[sales_df['Employee_ID'].isin(high_earner_employee_ids)]
print("Sales made by employees earning more than the average salary:")
print(sales_by_high_earners.head())

Sales made by employees earning more than the average salary:
   Sale_ID  Employee_ID  Sale_Amount
3        4          104        12000
6        7          107         3200
7        8          108         5100
9       10          110         7000

**Reasoning**:
Now that sales by high-earning employees have been filtered, I will calculate the sum of 'Sale_Amount' from this filtered DataFrame to determine the total sales.

In [ ]:
total_sales_by_high_earners = sales_by_high_earners['Sale_Amount'].sum()
print(f"Total sales made by employees earning more than the average salary: {total_sales_by_high_earners}")

Total sales made by employees earning more than the average salary: 27300

***Advanced Level***

# 1.Find employees who have not made any sales.

## Identify Employees Who Have Made Sales

### Subtask:
Extract the unique `Employee_ID`s from the `sales_df` to create a set of employees who have made at least one sale.

In [5]:
employees_with_sales_ids = sales_df['Employee_ID'].unique()
print(f"Employee IDs who have made sales: {employees_with_sales_ids}")

Employee IDs who have made sales: [101 102 103 104 105 106 107 108 109 110]

## Find Employees Without Sales

### Subtask:
Filter the `employees_df` to find employees whose `Employee_ID` is not in the set of `employees_with_sales_ids`.

In [6]:
employees_without_sales = employees_df[~employees_df['Employee_ID'].isin(employees_with_sales_ids)]
print("Employees who have not made any sales:")
print(employees_without_sales[['Employee_ID', 'Employee_Name', 'Department']])

Employees who have not made any sales:
Empty DataFrame
Columns: [Employee_ID, Employee_Name, Department]
Index: []

#  2.List departments where the average salary is above ₹55,000.

# Task
List the names of departments where the average employee salary is greater than ₹55,000.

## Calculate Average Salary per Department

### Subtask:
Group the `employees_df` DataFrame by 'Department' and calculate the average 'Salary' for each department.

**Reasoning**:
To calculate the average salary per department, I will group the `employees_df` by the 'Department' column and then compute the mean of the 'Salary' for each group, storing the result in `department_avg_salaries` and printing it.

In [7]:
department_avg_salaries = employees_df.groupby('Department')['Salary'].mean()
print("Average salary by department:")
print(department_avg_salaries)

Average salary by department:
Department
Finance    64000.000000
HR         62333.333333
IT         75750.000000
Name: Salary, dtype: float64

**Reasoning**:
Now that the average salary per department has been calculated, I need to filter these departments to identify only those where the average salary exceeds ₹55,000.

In [8]:
departments_above_threshold = department_avg_salaries[department_avg_salaries > 55000]
print("Departments with average salary above ₹55,000:")
print(departments_above_threshold.index.to_list())

Departments with average salary above ₹55,000:
['Finance', 'HR', 'IT']

# 3. Retrieve department names where the total sales exceed ₹10,000.

# Task
Merge the `employees_df` and `sales_df` DataFrames, then calculate the total sales for each department. Finally, identify and display the names of departments where the total sales exceed ₹10,000.

## Merge Employee and Sales Data

### Subtask:
Merge the `employees_df` and `sales_df` DataFrames on 'Employee_ID' to combine employee information with their sales records.

**Reasoning**:
To combine employee and sales information, I will merge the `employees_df` and `sales_df` DataFrames on the 'Employee_ID' column using an inner join.

In [9]:
merged_df = pd.merge(employees_df, sales_df, on='Employee_ID', how='inner')
print("Merged DataFrame (employees and sales):")
print(merged_df.head())

Merged DataFrame (employees and sales):
   Employee_ID Employee_Name  Salary Department  Sale_ID  Sale_Amount
0          101      Abhishek   62000         HR      201         4500
1          102       Shubham   58000         IT      202         7800
2          103         Priya   67000    Finance      203         6700
3          104         Rohit   90000         IT      204        12000
4          105          Neha   55000         HR      205         9800

## Calculate Total Sales per Department

### Subtask:
Group the `merged_df` by 'Department' and calculate the sum of 'Sale_Amount' for each department.

**Reasoning**:
Following the previous step of merging data, I need to calculate the total sales for each department. I will group the `merged_df` by 'Department' and sum the 'Sale_Amount'.

In [10]:
department_total_sales = merged_df.groupby('Department')['Sale_Amount'].sum()
print("Total sales by department:")
print(department_total_sales)

Total sales by department:
Department
Finance    21100
HR         19400
IT         30000
Name: Sale_Amount, dtype: int64

## Filter Departments by Total Sales

### Subtask:
Filter the `department_total_sales` Series to include only departments where the total sales exceed ₹10,000.

**Reasoning**:
Now that the total sales per department have been calculated, I will filter the `department_total_sales` Series to include only departments where the total sales exceed ₹10,000.

In [11]:
departments_above_sales_threshold = department_total_sales[department_total_sales > 10000]
print("Departments with total sales exceeding ₹10,000:")
print(departments_above_sales_threshold.index.to_list())

Departments with total sales exceeding ₹10,000:
['Finance', 'HR', 'IT']

# 4.Find the employee who has made the second-highest sale.

## Calculate Total Sales Per Employee

### Subtask:
Calculate the total `Sale_Amount` for each unique `Employee_ID` from the `sales_df` DataFrame.

In [13]:
total_sales_per_employee = sales_df.groupby('Employee_ID')['Sale_Amount'].sum().reset_index()
print("Total sales per employee (ID and Amount):")
print(total_sales_per_employee.head())

Total sales per employee (ID and Amount):
   Employee_ID  Sale_Amount
0          101         4500
1          102         7800
2          103         6700
3          104        12000
4          105         9800

## Merge with Employee Names

### Subtask:
Merge the `total_sales_per_employee` DataFrame with the `employees_df` DataFrame to include employee names in the result.

In [14]:
employee_sales_with_names = pd.merge(total_sales_per_employee, employees_df[['Employee_ID', 'Employee_Name']], on='Employee_ID', how='left')
print("Total sales per employee (with names):")
print(employee_sales_with_names[['Employee_Name', 'Sale_Amount']].sort_values(by='Sale_Amount', ascending=False).head())

Total sales per employee (with names):
  Employee_Name  Sale_Amount
3         Rohit        12000
5          Aman        10500
4          Neha         9800
1       Shubham         7800
9        Tanuja         7000

## Display Total Sales Per Employee

### Subtask:
Display the `Employee_Name` and their corresponding `Sale_Amount` for all employees, sorted by `Sale_Amount` in descending order.

In [15]:
final_employee_sales = employee_sales_with_names[['Employee_Name', 'Sale_Amount']].sort_values(by='Sale_Amount', ascending=False)
print("Final Total Sales Per Employee:")
print(final_employee_sales)

Final Total Sales Per Employee:
  Employee_Name  Sale_Amount
3         Rohit        12000
5          Aman        10500
4          Neha         9800
1       Shubham         7800
9        Tanuja         7000
2         Priya         6700
7         Sneha         5100
0      Abhishek         4500
8         Kiran         3900
6          Ravi         3200

**Reasoning**:
I will sort the `sales_df` by 'Sale_Amount' in descending order. Then, I'll select the second row to get the details of the second-highest sale. Finally, I'll use the 'Employee_ID' from this sale to retrieve the employee's name from `employees_df`.

In [12]:
# Sort sales by Sale_Amount in descending order
sorted_sales = sales_df.sort_values(by='Sale_Amount', ascending=False)

# Get the second highest sale row (index 1 after sorting)
second_highest_sale_row = sorted_sales.iloc[1]

# Extract Employee_ID and Sale_Amount
employee_id_second_highest_sale = second_highest_sale_row['Employee_ID']
second_highest_sale_amount = second_highest_sale_row['Sale_Amount']

# Get the employee's name from employees_df
employee_second_highest_sale = employees_df[employees_df['Employee_ID'] == employee_id_second_highest_sale]

print(f"The employee with the second-highest sale is: {employee_second_highest_sale['Employee_Name'].iloc[0]} (Employee ID: {employee_id_second_highest_sale}) with a sale of ${second_highest_sale_amount}.")

The employee with the second-highest sale is: Aman (Employee ID: 106) with a sale of $10500.

# 5.Retrieve the names of employees whose salary is greater than the highest sale amount recorded.

In [18]:
display(employees_higher_salary_than_highest_sale)

   Employee_ID Employee_Name  Salary Department
0          101      Abhishek   62000         HR
1          102       Shubham   58000         IT
2          103         Priya   67000    Finance
3          104         Rohit   90000         IT
4          105          Neha   55000         HR
5          106          Aman   60000    Finance
6          107          Ravi   75000         IT
7          108         Sneha   70000         HR
8          109         Kiran   65000    Finance
9          110        Tanuja   80000         IT

## Identify Highest Sale Amount

### Subtask:
Determine the single highest `Sale_Amount` from the `sales_df` DataFrame.

In [16]:
highest_sale_amount_recorded = sales_df['Sale_Amount'].max()
print(f"The highest sale amount recorded is: {highest_sale_amount_recorded}")

The highest sale amount recorded is: 12000

## Filter Employees by Salary

### Subtask:
Filter the `employees_df` to include only those employees whose 'Salary' is greater than the `highest_sale_amount_recorded`.

In [17]:
employees_higher_salary_than_highest_sale = employees_df[employees_df['Salary'] > highest_sale_amount_recorded]
print("Employees whose salary is greater than the highest sale amount:")
print(employees_higher_salary_than_highest_sale[['Employee_ID', 'Employee_Name', 'Salary']])

Employees whose salary is greater than the highest sale amount:
   Employee_ID Employee_Name  Salary
0          101      Abhishek   62000
1          102       Shubham   58000
2          103         Priya   67000
3          104         Rohit   90000
4          105          Neha   55000
5          106          Aman   60000
6          107          Ravi   75000
7          108         Sneha   70000
8          109         Kiran   65000
9          110        Tanuja   80000